*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: grey;
    padding: 10px;
}

header div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    margin: 20px 10px;
}

footer{
    display: flex;
    background-color: gray;
    padding: 10px;
    justify-content: space-between;
}